<div class="modal-header">
  <span></span>
  <div class="modal-close-btn" (click)="activeModal.dismiss('Cross click')">X</div>
</div>
<div>
  <div class="modal-body">
    <div class="modal-text">정말 삭제하시겠습니까?</div>
    <div class="modal-sub-text">
      <input type="text" [(ngModel)]="deleteMenu" placeholder="'삭제'라고 입력하세요">
    </div>
    <div class="modal-close-box">
      <button class="modal-btn-box" (click)="activeModal.close(deleteMenu)">
        삭제
      </button>
    </div>
  </div>
</div>
