<div class="footer-box">
  <div class="bottom-item">
    <div class="flex-default company-box">
      <div class="company-title">
        CXD PIZZA
      </div>
      <div class="company-body-pc">
        <div class="flex-default">
          <div>
            울산광역시 남구 달동 886-10 1층(달동)<span>|</span>
          </div>
          <div>
            대표자 : 김미향<span>|</span>
          </div>
          <div>
            사업자등록번호 :870-39-01276
          </div>
        </div>
        <div class="flex-default">
          <div>
            고객센터 : <span class="qa-call-text">010-3224-0666</span><span>|</span>
          </div>
          <div>
            E-mail : pzh89＠naver.com
          </div>
        </div>
      </div>

      <div class="company-body-mobile">
        <div>
          울산광역시 남구 달동 886-10 1층(달동)
        </div>
        <div>
          대표자 김미향
        </div>
        <div>
          사업자등록번호 870-39-01276
        </div>
        <div>
          고객센터 010-3224-0666
        </div>
        <div>
          E-mail | pzh89＠naver.com
        </div>
      </div>
    </div>

    <div>
      Copyright © 2024 by CXD Pizza Inc All Right Reserved
    </div>
  </div>
</div>
